<template>
<div>
<div class='max-w-md mx-auto'>
    <div class="relative flex items-center w-full h-12 rounded-lg focus-within:shadow-lg bg-white overflow-hidden">
        <div class="grid place-items-center h-full w-12 text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </div>

        <input
        class="peer h-full w-full outline-none text-sm text-gray-700 pr-2"
        type="text"
        id="search"
        placeholder="Search something.."
        @keyup="search($event.target.value)" /> 
    </div>
</div>
  <div v-if="error">
    {{ error }}
  </div>
  <div class="m-6 grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-4 mt-8" v-else>
    <div v-for="restaurant in restaurants" :key="restaurant.id" class="border rounded-lg bg-gray-100 hover:shadow-lg shadow-md">
      <nuxt-link :to="`/restaurants/${restaurant.id}`">
        <div class="rounded-t-lg bg-white pt-2 pb-2">
         <!-- <img v-lazy class="crop mx-auto" src="~/assets/img/placeholder-image.png" :data-src="`${getStrapiMedia(restaurants.attributes.image.formats.thumbnail.url)}`">-->
        </div>
        <div class="pl-4 pr-4 pb-4 pt-4 rounded-lg">
          <h4 class="mt-1 font-semibold text-base leading-tight truncate text-gray-700">{{restaurant.attributes.name}}</h4>
          <div class="mt-1 text-sm text-gray-700">{{restaurant.attributes.description}}</div>
        </div>
      </nuxt-link>
    </div>
  </div>
</div>
</template>

<script>
import {
  getStrapiMedia
} from '~/utils/medias'

export default {
  props: {
    restaurants: Array,
    error: Object,
    storeUrl: String,
    filters:[], 
    lastPage:null,
  },
  directives: {
    lazy: {
      inserted: (el) => {
        const observer = new IntersectionObserver((entries, observer) => {
          entries.forEach(function(entry) {
            if (entry.isIntersecting) {
              let lazyImage = entry.target;
              lazyImage.src = lazyImage.dataset.src;
              observer.unobserve(el);
            }
          });
        });
        observer.observe(el);
      },
    },
  },
  methods: {
    getStrapiMedia,
    search(s) {
      this.$emit('set-filters', {
        s,
      });
    },
    sort(sort) {
      this.$emit('set-filters', {
        ...this.filters,
        sort,
        pagination: [1]
      });
    },
    loadMore() {
      this.$emit('set-filters', {
        ...this.filters,
        pagination: this.filters.pagination + 1
      });
    }
  }
}
</script>

<style>
.crop {
  width: 180px;
  height: 180px;
}
</style>
