<template>
  <Restaurants :restaurants="this.category.restaurants" :error="error" />
</template>

<script>
import Restaurants from "~/components/Restaurants.vue"
export default {
  data() {
    return {
      category: {},
      error: null
    }
  },
  async mounted() {
    try {
      this.category = await this.$strapi.$categories.findOne(this.$route.params.id)
    } catch (error) {
      this.error = error
    }
  },
  created: async function () {
    const res = await fetch(`http://localhost:1337/api/categories/`+this.$route.params.id)
    this.category = await res.json()
    this.category=this.category.data
    console.log(this.category)
  },
  components: {
    Restaurants
  }
}
</script>