<template>
<div v-if="this.restaurant !== null">
  <div class="m-6 mt-56 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4 mt-8">
    <div class="rounded-t-lg pt-2 pb-2">
      <img :src="restaurant.attributes.image" class="m-auto">
    </div>
    <div class="w-full p-5 flex flex-col justify-between">
      <div>
        <h4 class="mt-1 font-semibold text-lg leading-tight truncate text-gray-700">{{restaurant.attributes.name}}</h4>
        <div class="mt-1 text-gray-600">{{ restaurant.attributes.description }}</div>
      </div>
    </div>
  </div>
</div>

<div v-else>
  {{ error }}
</div>
</template>
<script>
import {
  getStrapiMedia
} from '~/utils/medias'
export default {
  data() {
    return {
      restaurant: null,
      error: null
    }
  },
  
  created: async function () {
    const res = await fetch(`http://localhost:1337/api/restaurants/`+this.$route.params.id)
    this.restaurant = await res.json()
    this.restaurant=this.restaurant.data
    console.log(this.restaurant)
  },
  computed: {
  },
  methods: {
    getStrapiMedia
  }
}
</script>