<template>
<Restaurants :restaurants="restaurants" :error="error" :storeUrl="storeUrl"  @set-filters="load($event)"  />
</template>

<script>
import axios from 'axios'
import Restaurants from "~/components/Restaurants.vue"
export default {
  data() {
    return {
      restaurants: [],
      storeUrl: process.env.storeUrl,
      error: null,
      filters: {
        s: '',
      },
    }
  },
 async mounted() {
    await this.load(this.filters);
  },
  components: {
    Restaurants
  },
  methods: {
    async load(f) {
      this.filters.s = f.s;
      /*const arr = [];
      if (this.filters.s) {
        arr.push(`s=${this.filters.s}`);
      }
      console.log(arr.join('&'))*/
      const response = await fetch(`http://localhost:1337/api/restaurants?filters[name][$contains]=${this.filters.s}`);
      const content = await response.json();
      this.restaurants = content.data
      console.log(this.restaurants)
    }
  }
}
</script>